.character{
  width: 155px;
  height: 200px;
  position:absolute;
  bottom: 20%;
  left: 10%;
  background-image: url('jumping.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}
.thick{
  transform: scale(2,1); 
}

.animation = drip




.enemy{
background-image: url(bean.jpeg);
widows: 300px; ;
height: 400px;
position: absolute;
top: 30%;
left: 75%;
background-size: cover;
animation: drip 10s linear infinite;
}

.invi{
  opacity: 0.10;
}

.face-change{
  background-image: url('face-2.png');
  width: 200;
  height: 2000;
}



.jumpd{
  animation: jumpd 500ms forwards;
}

@keyframes  jumpd {
  50%{
    bottom: 30%;
    /* background-image: url(Unknown.png); */
  }
  100%{
    bottom: 20%;
    transform: rotate(45deg);
  }
}


@keyframes drip {

 25%{ 
   width: 300px;
    
  }
  50%{
    width: 300px
    
  }

  75%{
    width: 300px;
    left: 30%
    ;
  }
  100%{ width: 300px
  ;
  }


}


.jumpb{
  animation: jumpb 500ms forwards;
}


@keyframes  jumpb {
    50%{
      bottom: 60%;
      /* background-image: url(Unknown.png); */
    }
    100%{
      bottom: 20%;
      transform: rotate(-360deg);
    }
}

@keyframes  jumpr {
  50%{
    bottom: 60%;
  }
  100%{
    bottom: 20%;
    transform: rotate(360deg);
  }
}

.jumpr{
  animation: jumpr 500ms forwards;
}

@keyframes  jumpu {
  50%{
    bottom: 60%;
  }
  100%{
    bottom: 20%;
    transform: rotate(0deg);
  }
}


.jumpu{
  animation: jumpu 500ms forwards;
}

