.character{
  width: 100px;
  height: 100px;
  position:absolute;
  bottom: 20%;
  left: 10%;
  background-image: url('mario.webp');
  background-size: cover;
}

.jump{
  animation: jump 1000ms forwards;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(-360deg);
    }
}